<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <a href="/"><title>Virtuoso</title></a>
</head>
<body>
  <main class ='p-1 mb-4 text-black text-center'>    
    <div class = 'container text-center m-10' id="banner">
      <h4>Welcome, {{band_name}}</h4>
    </div>

    <section style="background-color: #eee;">
      <div class="container py-5">

    
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                {{#if profile_pic}}
                <img src={{profile_pic}} alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                {{else}}
                <img src="concert-audience.jpg" alt="avatar2" class="rounded-circle img-fluid" style="width: 150px;">
                {{/if}}
                <h5 class="my-3">{{band_name}}</h5>
                <p class="text-muted mb-1">{{genre}}</p>
                <p class="text-muted mb-4">{{manager_name}}</p>
                <p class="test-stats">Test: {{band.monthly_spotify_listeners}}</p>
                {{!-- {{#each band}} --}}
                {{#if stats.length}}
                  {{#each stats as |stat|}}
                  <div>Test: {{stat.monthly_spotify_listeners}}</div>
                  {{/each}}
                {{/if}}
                {{!-- {{/each}} --}}
                <div class="d-flex justify-content-center mb-2">
                </div>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body p-0">
                  <!-- Template for Chart.js -->
                  <canvas id="myChart"></canvas>
              </div>
            </div>
          
          </div>



          
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Band Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{band_name}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{email}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Phone</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">PLACEHOLDER: (097) 234-5678</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Location</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">PLACEHOLDER: Bay Area, San Francisco, CA</p>
                  </div>
                </div>
              </div>
            </div>
            <h4 style="text-align:left; font-size: 1.2rem;">{{band_name}} Posts:</h4>
            {{!-- <div class="row" id="sortable"></div> --}}
{{#if posts.length}}
    {{#each posts as |post|}}
        <div class="row" id="sortable"></div>
          <div id="sortable">
            <div id="card-title">
              <div class="card-sub-profile"> <img class="card-img-top img-fluid d-flex justify-content-between" id="user-prof-pic">
              {{!-- <a href="/posts/{{post.id}}" class="btn btn-light d-flex justify-content-between" id="edit-post-btn">Edit</a> --}}
            </div>
              <div class="card-block">
                <div class="card-header">                
                  <h4 class="employee-name-profile">{{post.title}}</h4>
                  <div class="employee-details">
                    <div class="user-name">Created by {{band.username}} on {{format_date post.date_created}}</div>            
                    <div class="post">&nbsp;{{post.post_content}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>        
            
        </div>
    {{/each}}

{{else}}
<h6 class="pb-4 has-text-centered is-italic">Start Posting!</h6>

{{/if}}
            </div>
          </div>
        </div>
      </div>
    </section>


    </div>

  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/dayjs@1.11.3/dayjs.min.js"
    integrity="sha256-iu/zLUB+QgISXBLCW/mcDi/rnf4m4uEDO0wauy76x7U="
    crossorigin="anonymous">
  </script>
  <script src="./src/template.js"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart'); 

  let dataStageTime = {
    label: "Avg Stage Time",
    data: [94, 71, 106, 49, 54],
    lineTension: 0,
    fill: false,
    borderColor: 'lightblue',
    yAxisID: 'y',
  };

  let dataSpotify = {
    label: "Avg Spotify Listeners",
    data: [1299, 1203, 1461, 1529, 1593],
    lineTension: 0,
    fill: false,
    borderColor: 'lightgreen',
    yAxisID: 'y1',
  };

  let speedData = {
    labels: ['October', 'November', 'December', 'January', 'February'],
    datasets: [dataStageTime, dataSpotify]
  };

  new Chart(ctx, {
    type: 'line',
    labels: ['October', 'November', 'December', 'January', 'February'],
    data: speedData,
    options: {
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
        },
        y1: {
          type: 'linear',
          display: true,
          position: 'right',

          // grid line settings
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          },
        },
      }
    }
  });
</script>
</html>