<h3><br>Looking For A Band,<br>Check Out These Posts!</h3>
<div class="row" id="sortable">
  {{#each posts as |post|}}
  <div class="col-md-3">
    <div class="card-sub"> <img src={{post.band.profile_pic}} class="card-img-top img-fluid" id="user-prof-pic" alt="Card image cap">
      <div class="card-block">
        <div class="card-header">
          <h4 class="employee-name">{{title}}</h4>
          <div class="employee-details">
            <div class="user-name">Posted by <a href="api/bands/{{band_id}}">{{post.band.band_name}}</a> on
              {{format_date date_created}}</div>
            <div class="post">{{post_content}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>